<mat-card
  class="template-card"
  [routerLink]="['/homepage-templates/editor', template.id]"
  role="button"
  tabindex="0">
  <div class="image-box">
    <div class="placeholder-x"></div>
  </div>

  <div class="card-body">
    <h3>{{ template.name }}</h3>
    <p class="desc">{{ template.description }}</p>


    <div class="modified">
      Last Modified: {{ template.lastModified }}
    </div>


    <div class="footer">
      <a class="details">View Details</a>

      <div class="actions">
        <mat-icon>info</mat-icon>
        <mat-icon>edit</mat-icon>
        <mat-icon>content_copy</mat-icon>
        <mat-icon (click)="deleteTemplate($event)">delete</mat-icon>
      </div>
    </div>
  </div>
</mat-card>
