<div class="sidebar">

    <div class="menu-title">Content Manager</div>
  
    <ul class="nav">
      <li>Dashboard</li>
  
      <li class="section">Homepage Configuration</li>
      <li class="active">Homepage Templates</li>
      <li>Featured Sections</li>
      <li>Promotional Banners</li>
  
      <li class="section">Artist Management</li>
      <li>Album Management</li>
      <li>Playlist Curation</li>
  
      <li class="section">User Management</li>
      <li>Settings</li>
    </ul>
  
    <div class="user-box">
      <img src="https://i.ibb.co/ZmZKtYV/user.png" alt="user" />
      <div>Admin User</div>
      <a class="logout">Logout</a>
    </div>
  </div>
  